 <?xml version="1.0" encoding="UTF-8"?>
 
 <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
 		id="com.manueldeveloper.volume-buttons"
 		version="0.0.1">
 		
 	<name>VolumeButtons</name> 	
 	<description>Cordova plugin which notifies when the user presses the volume buttons of the device</description> 	
 	<license>Apache 2.0</license> 	
 	<keywords>cordova,volume,buttons</keywords>
 	
 	<js-module src="www/volumebuttons.js" name="volumebuttons">
 		<clobbers target="navigator.volumebuttons" />
 	</js-module>
 	
 	<!-- android -->
 	<platform name="android">
	 	<config-file target="res/xml/config.xml" parent="/*">
		 	<feature name="VolumeButtons">
			 	<param name="android-package" value="com.manueldeveloper.VolumeButtonsListener"/>
			</feature>
		</config-file>
		
		<source-file src="src/android/VolumeButtonsListener.java" target-dir="src/com/manueldeveloper" />
	</platform>
 </plugin>